<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">
<title>Admin home</title>
</head>
<body>
 <div align="right">
   <p>Welcome Administrator(<span sec:authentication="principal.username">Admin</span>)</p>
   &nbsp;&nbsp;
   <p sec:authorize="isAuthenticated()">
       <form th:action="@{/logout}" method="post">
       <input type="submit" value="Logout" />
       </form>
   </p>
  </div>

  <div align="right">
   <a th:href="@{/passwordchange/{userId} (userId=${userId})}">Change Password</a>
  </div>

<div align = "center">

  <a th:href="@{/products}">Manage Products</a>
   &nbsp;&nbsp;
  <a th:href="@{/purchasereport}">Purchase Report</a>
  &nbsp;&nbsp;
  <a th:href="@{/userslist}">User List</a>

  </div>
   <h1>This is admin home page</h1>
  </body>
  </html>