<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Welcome To Sporty Shoes</title>
</head>
<body>
    
    <h1> Welcome To Sporty Shoes</h1>
     
   <form role="form" th:action="@{/login}" th:method="post">
   
   <div align="center">
   <label>Username</label>  
   <input type="text" id="username" name="username"> 
   <br><br>
   <label>Password</label>
   <input type="password" id="password" name="password">
   <br><br>
   <input type="submit">
   <br><br>
   <h3><a th:href="@{/signup}">New Users register here</a></h3>
   </div>
   </form>
   

</body>
</html>