<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Shopping Cart</title>
</head>
<body>

  <div align="right">
       <a th:href="@{/home}">User Home</a>
    
      &nbsp;&nbsp;
    <form th:action="@{/logout}" method="post">
       <input type="submit" value="Logout" />
       </form>

</div>
 <form action="#" th:action="@{/paymentprocess}"
         method="post" >
 <h1>Card Details</h1>
 <div align="center">
 <label>Card Number</label>  
   <input type="text" id="cardnumber" name="cardnumber"> 
   <br><br>
   <label>CC</label>
   <input type="text" id="cc" name="cc">
   <br><br>
   <input type="submit" value ="process pay">
   <br><br>
   </div>
   </form>
</body>
</html>